.footer {
  /* background: linear-gradient(
    180deg,
    #020617 0%,
    #020617 60%,
    #000000 100%
  ); */
  background: #11131a;
  color: #9ca3af;
}

/* TOP */
.footer-top {
  max-width: 1300px;
  margin: 0 auto;
  padding: 100px 5% 80px;

  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 80px;
}

/* BRAND */
.footer-brand {
  max-width: 420px;
}

.footer-logo {
  width: 100px;
  height: 80px;
  margin-bottom: 24px;

  border-radius: 8px;
  color: #020617;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 800;
  letter-spacing: 1px;
}
.footer-logo img{
    width: 100px;
}

.footer-brand p {
  font-size: 16.5px;
  line-height: 1.7;
}

/* COLUMNS */
.footer-col h4 {
  font-size: 18px;
  font-weight: 600;
  color: #efefef;
  margin-bottom: 18px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col li {
  font-size: 17px;
  margin-bottom: 14px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.footer-col li:hover {
  color: #ffffff;
}

/* BOTTOM */
.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.08);
  padding: 26px 5%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;
}

/* SOCIALS */
.footer-socials {
  display: flex;
  gap: 18px;
}

.footer-socials a {
  color: #9ca3af;
  font-size: 18px;
  transition: color 0.2s ease;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer-socials a:hover {
  color: #ffffff;
}



/* ===============================
   FOOTER RESPONSIVE
================================ */

/* -------- TABLET & BELOW -------- */
@media (max-width: 1024px) {

  .footer-top {
    grid-template-columns: 2fr 1fr 1fr;
    gap: 60px;
    padding: 80px 5% 70px;
  }

  .footer-brand {
    max-width: 100%;
  }
}

/* -------- MOBILE -------- */
@media (max-width: 768px) {

  .footer-top {
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 70px 6% 60px;
    text-align: center;
  }

  .footer-brand {
    margin: 0 auto;
  }

  .footer-logo {
    margin: 0 auto 20px;
  }

  .footer-brand p {
    font-size: 15.5px;
  }

  .footer-col h4 {
    font-size: 17px;
    margin-bottom: 16px;
  }

  .footer-col li {
    font-size: 16px;
  }

  /* Bottom bar */
  .footer-bottom {
    flex-direction: column;
    gap: 14px;
    text-align: center;
    padding: 22px 6%;
  }
}

/* -------- SMALL PHONES -------- */
@media (max-width: 420px) {

  .footer-top {
    gap: 40px;
  }

  .footer-brand p {
    font-size: 15px;
  }

  .footer-col li {
    font-size: 15px;
  }

  .footer-socials {
    gap: 14px;
  }
}
