.footer {
  /* background: linear-gradient(
    180deg,
    #020617 0%,
    #020617 60%,
    #000000 100%
  ); */
  background: #11131a;
  color: #9ca3af;
}

/* TOP */
.footer-top {
  max-width: 1300px;
  margin: 0 auto;
  padding: 100px 5% 80px;

  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 80px;
}

/* BRAND */
.footer-brand {
  max-width: 420px;
}

.footer-logo {
  width: 100px;
  height: 80px;
  margin-bottom: 24px;

  border-radius: 8px;
  color: #020617;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 800;
  letter-spacing: 1px;
}
.footer-logo img{
    width: 100px;
}

.footer-brand p {
  font-size: 16.5px;
  line-height: 1.7;
}

/* COLUMNS */
.footer-col h4 {
  font-size: 18px;
  font-weight: 600;
  color: #efefef;
  margin-bottom: 18px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col li {
  font-size: 17px;
  margin-bottom: 14px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.footer-col li:hover {
  color: #ffffff;
}

/* BOTTOM */
.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.08);
  padding: 26px 5%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;
}

/* SOCIALS */
.footer-socials {
  display: flex;
  gap: 18px;
}

.footer-socials a {
  color: #9ca3af;
  font-size: 18px;
  transition: color 0.2s ease;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer-socials a:hover {
  color: #ffffff;
}
